@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.add-page{
    margin: 0;
    padding: 0;
    min-width: 100vh;
    min-height: 100vh;
    background-image: url('https://wallpaper.dog/large/20502651.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
.add-box{
    top: 16%;
    left: 35%;
    position: absolute;
    height: 550px;
    width: 500px;
    background-color: rgba(240, 243, 246, 0.604);
    border-radius: 12.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.add-text{
    position: absolute;
    top: 6%;
    left: 21%;
    font-size: 35px;
    color: rgb(57, 55, 55);
    font-family: 'Quicksand', sans-serif;
}
.muscle-text{
    position: absolute;
    top: 17.5%;
    left: 10%;
    font-size: 16px;
    letter-spacing: 1.5px;
}
.muscle-in{
    position: absolute;
    top: 22.5%;
    left: 10%;
    padding: 10px;
    width: 370px;
    border-radius: 7px;
    height: 20px;
    border: 1px solid rgb(123, 7, 131);
}
.workoutname-text{
    position: absolute;
    top: 33.5%;
    left: 10%;
    font-size: 16px;
    letter-spacing: 1.5px;
}
.workoutname-in{
    position: absolute;
    top: 38.5%;
    left: 10%;
    padding: 10px;
    width: 370px;
    border-radius: 7px;
    height: 20px;
    border: 1px solid rgb(123, 7, 131);
}
.Reps-text{
    position: absolute;
    top: 49.5%;
    left: 10%;
    font-size: 16px;
    letter-spacing: 1px;
}
.Reps-in{
    position: absolute;
    top: 54.5%;
    left: 10%;
    padding: 10px;
    width: 370px;
    border-radius: 7px;
    height: 20px;
    border: 1px solid rgb(123, 7, 131);
}
.Sets-text1{
    position: absolute;
    top: 65.5%;
    left: 10%;
    font-size: 16px;
    letter-spacing: 1px;
}
.Sets-in1{
    position: absolute;
    top: 70.5%;
    left: 10%;
    padding: 10px;
    width: 370px;
    border-radius: 7px;
    height: 20px;
    border: 1px solid rgb(123, 7, 131);
}
.AddWork-btn{
    position: absolute;
    top: 83.5%;
    left: 10%;
    width: 396px;
    height: 46px;
    border-radius: 7px;
    color: aliceblue;
    font-size: 17px;
    letter-spacing: 1px;
    border: none;
    background-color: rgb(53, 52, 52);
}
.AddWork-btn:hover{
    background-image: linear-gradient(to right, rgb(120, 190, 252) , rgb(212, 0, 255));;
}
.muscleerror-text{
    color: red;
    position: absolute;
    top: 18.4%;
    left: 24%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
.workouterror-text{
    color: red;
    position: absolute;
    top: 34%;
    left: 26%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
.repserror-text{
    color: red;
    position: absolute;
    top: 50.2%;
    left: 19%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
.setserror-text{
    color: red;
    position: absolute;
    top: 66.2%;
    left: 18%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}